.copyright {
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: #E8EBEE;
}

.copyright__text {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #B7BABE;
}